<header class="header">
  <h1 class="logo">ESG Integration</h1>
  <img src="./assets/img/Logo.png" class="logo-img" alt="" />
  <div>
    <input class="menu-btn" type="checkbox" id="menu-btn" />
    <label class="menu-icon" for="menu-btn"
      ><span class="navicon"></span
    ></label>
    <ul class="menu">
      <li><a href="#">Página inicial</a></li>
      <li><a href="#">ESG Integration</a></li>
      <li><a href="#">Shared Value Creating</a></li>
      <li><a href="#">Social Impact</a></li>
      <li><a href="#">Governance</a></li>
    </ul>
  </div>
</header>
