.header {
  background-color: #820ad1;
  box-shadow: 1px 1px 4px 0 rgba(0, 0, 0, 0.1);
  width: 100%;
  z-index: 3;
  padding: 20px 10px;
}
.header ul {
  margin: 0;
  padding: 0;
  list-style: none;
  overflow: hidden;
  background-color: #820ad1;
}
.header .menu li a {
  display: block;
  padding: 20px 20px;
  text-decoration: none;
  color: #fff;
}
.header li a:hover,
.header .menu-btn:hover {
  background-color: #c59be038;
}
.header .logo {
  text-align: center;
  font-size: 32px;
  padding: 10px 20px;
  color: #f4f4f4;
  margin-top: 0;
  margin-left: 20px;
  text-decoration: none;
  display: block;
}
.header .logo-img {
  display: none;
}
/* menu */
.header .menu {
  max-height: 0;
  transition: max-height 0.2s ease-out;
}
/* menu icon */
.header .menu-icon {
  cursor: pointer;
  display: inline-block;
  padding: 28px 20px;
  position: absolute;
  top: 20px;
  user-select: none;
}
.header .menu-icon .navicon {
  background: #fff;
  display: block;
  height: 2px;
  position: relative;
  transition: background 0.2s ease-out;
  width: 18px;
}
.header .menu-icon .navicon:before,
.header .menu-icon .navicon:after {
  background: #fff;
  content: "";
  display: block;
  height: 100%;
  position: absolute;
  transition: all 0.2s ease-out;
  width: 100%;
}
.header .menu-icon .navicon:before {
  top: 5px;
}
.header .menu-icon .navicon:after {
  top: -5px;
}
/* menu btn */
.header .menu-btn {
  display: none;
}
.header .menu-btn:checked ~ .menu {
  max-height: 300px;
}
.header .menu-btn:checked ~ .menu-icon .navicon {
  background: transparent;
}
.header .menu-btn:checked ~ .menu-icon .navicon:before {
  transform: rotate(-45deg);
}
.header .menu-btn:checked ~ .menu-icon .navicon:after {
  transform: rotate(45deg);
}
.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
  top: 0;
}
@media (min-width: 768px) {
  .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #f4f4f4;
    padding: 20px 40px;
  }
  .header .logo {
    color: #820ad1;
    display: none;
  }
  .header .logo-img {
    display: block;
  }
  .header .menu li a {
    padding: 12px;
    font-size: 16px;
    color: #111111;
    font-weight: 600;
  }
  .header .menu {
    display: flex;
    max-height: none;
    background-color: #f4f4f4;
  }
  .header .menu-icon {
    display: none;
  }
}
