<header>
  <nav>
    <div class="logo">Syco_coders</div>
    <ul class="nav-ul">
      <li class="nav-li li_1">home</li>
      <li class="nav-li li_2">school</li>
      <li class="nav-li li_3">college</li>
      <li class="nav-li li_4">university</li>
    </ul>
    <div class="burger">
      <div class="line-1"></div>
      <div class="line-2"></div>
      <div class="line-3"></div>
    </div>
  </nav>
  </header>