* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    overflow-x: hidden;
    overflow-y: hidden;
  }
  nav{
    background-color: black;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 60px;
    padding:0px 20px;
  }
  .logo {
    font-size: 30px;
    font-family: cursive;
    color: white;
  }
  .nav-li {
    list-style: none;
    margin: 0px 10px;
    color: wheat;
    display: inline-block;
    font-size: 20px;
    text-transform: capitalize;
    letter-spacing: 2px;
    padding: 8px 8px;
    border: 1px solid transparent;
    transition: all 0.4s all;
  }
  .nav-li:hover {
    border-bottom: 1px solid white;
    color: white;
  }
  .burger {
    display: none;
  }
  .burger > div {
    height: 4px;
    margin: 6px;
    background-color: white;
    border-radius: 10px;
  }
  .line-1 {
    width: 35px;
  }
  .line-2 {
    width: 25px;
  }
  .line-3 {
    width: 40px;
  }
  
  @media screen and (max-width: 744px) {
    nav {
      justify-content: space-between;
      padding: 0px 5px;
    }
    .burger {
      display: block;
      cursor: pointer;
    }
    .nav-ul {
      position: absolute;
      top: 60px;
      left: 0px;
      width: 100%;
      height: 90vh;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: center;
      background-color: black;
      transform: translateX(100%);
      transition: all 0.6s ease;
    }
    .nav-li {
      transform: translateX(1000%);
      transition: all 0.8 ease;
    }
    .li_1 {
      transition: all 0.6s ease;
    }
    .li_2 {
      transition: all 0.7s ease;
    }
    .li_3 {
      transition: all 0.8s ease;
    }
    .li_4 {
      transition: all 0.9s ease;
    }
  }
  .nav-ul-new {
    transform: translateX(0%);
  }
  .nav-li-new {
    transform: translateX(0%);
  }
  